html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
  background #34495e
  overflow hidden
  margin 0

#main 
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  background: #fff;
  overflow: hidden;

#titlebar 
  width 100%
  height 40px
  position absolute
  top 0
  left 0
  z-index 999
  #title-controls
    width 100%
    height 100%
    max-width 1250px
    margin 0 auto
    display flex
    justify-content space-between
    align-items center
    .item
      display flex
    a
      width 40px
      height 40px
      display flex
      justify-content center
      align-items center
      font-family 'Domine'
      color #333
      font-size 12px
      text-decoration none
      svg
        width 20px
        height 20px
        fill rgba(#333, .25)


.controls
  position absolute
  bottom 0
  left 0
  width 100%
  height 40px
  display flex
  justify-content center
  z-index 999
  .arrows
    width 80px
    height 100%
    display flex
    .arrow
      width 40px
      display flex
      justify-content center
      align-items center
      height 100%
      user-select: none; 
      svg
        width 16px
        height 16px
        fill rgba(#333, .50)

#viewer 
  width: 100%;
  height: 100%;
  margin: 0 auto
  max-width: 1250px;
  z-index: 2;
  padding 45px 0
  box-sizing border-box
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 768px)
    padding 50px 0


#viewer iframe {
  border: none;
}


input::-webkit-input-placeholder {
    color: #454545;
}
input:-moz-placeholder {
    color: #454545;
}
input:-ms-placeholder {
    color: #454545;
}

#divider {
  position: absolute;
  width: 1px;
  border-right: 1px #000 solid;
  height: 80%;
  z-index: 1;
  left: 50%;
  margin-left: -1px;
  top: 10%;
  opacity: .15;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
  display: none;
}

#divider.show {
  display: block;
}

#loader 
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  img
    height 75px

#tocView
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 300px;
  width: 25%;
  height: 100%;

#sidebar.open #tocView,
#sidebar.open #bookmarksView {
  overflow-y: auto;
  visibility: visible;
  -webkit-transition: visibility 0 ease 0;
  -moz-transition: visibility 0 ease 0;
  -ms-transition: visibility 0 ease 0;
}

#sidebar.open #tocView {
  display: block;
}

#tocView > ul,
#bookmarksView > ul {
  display: block;
}

#tocView li,
#bookmarksView li {
  margin-bottom:10px;
  width: 225px;
  list-style: none;
  text-transform: capitalize;
}

#tocView li:active,
#tocView li.currentChapter
{
  list-style: none;
}

.list_item a 
  color: white
  text-decoration: none;
  font-family 'Josefin Sans'
  font-size 13px
  @media screen and (min-width: 768px)
    font-size 14px

.list_item a.chapter {
  font-size: 1em;
}

.list_item a.section {
  font-size: .8em;
}

.list_item.currentChapter > a,
.list_item a:hover {
  color: #f1f1f1
}

/* #tocView li.openChapter > a, */
.list_item a:hover {
  color: #E2E2E2;
}

.list_item ul {
  padding-left:10px;
  margin-top: 8px;
  display: none;
}

.list_item.currentChapter > ul,
.list_item.openChapter > ul {
  display: block;
}

#tocView.hidden {
  display: none;
}

.toc_toggle {
  display: inline-block;
  width: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toc_toggle:before {
  content: '▸';
  color: #fff;
  margin-right: -4px;
}

.currentChapter > .toc_toggle:before,
.openChapter > .toc_toggle:before {
  content: '▾';
}

.view {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  position absolute
  top 40px
  z-index 999
  display none
  background #34495e
}

#tocView 
  left 0
  transition all 250ms

#searchResults {
  margin-bottom: 50px;
  padding-left: 20px;
  display: block;
}

#searchResults li {
  margin-bottom:10px;
  width: 225px;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style: none;
}

#searchResults a {
  color: #AAA;
  text-decoration: none;
}

#searchResults p {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
}

#searchResults p .match {
  background: #ccc;
  color: #000;
}

#searchResults li > p {
  color: #AAA;
}

#searchResults li a:hover {
  color: #E2E2E2;
}

#searchView.shown {
  display: block;
  overflow-y: scroll;
}

#notes {
 padding: 0 0 0 34px;
}

#notes li {
  color: #eee;
  font-size: 12px;
  width: 240px;
  border-top: 1px #fff solid;
  padding-top: 6px;
  margin-bottom: 6px;
}

#notes li a {
  color: #fff;
  display: inline-block;
  margin-left: 6px;
}

#notes li a:hover {
  text-decoration: underline;
}

#notes li img {
  max-width: 240px;
}

#note-text {
  display: block;
  width: 260px;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

#note-text[disabled], #note-text[disabled="disabled"]{
    opacity: .5;
}

#note-anchor {
  margin-left: 218px;
  margin-top: 5px;
}

#settingsPanel {
  display:none;
}

#settingsPanel h3 {
  color:#f1f1f1;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-bottom:10px;
}

#settingsPanel ul {
  margin-top:60px;
  list-style-type:none;
}

#settingsPanel li {
  font-size:1em;
  color:#f1f1f1;
}

#settingsPanel .xsmall {  font-size:x-small; }
#settingsPanel .small {  font-size:small; }
#settingsPanel .medium {  font-size:medium; }
#settingsPanel .large {  font-size:large; }
#settingsPanel .xlarge {  font-size:x-large; }

.highlight { background-color: yellow }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  width: 630px;

  height: auto;
  z-index: 2000;
  visibility: hidden;
  margin-left: -320px;
  margin-top: -160px;

}


.md-show {
    visibility: visible;
}

.md-show ~ .overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
  color: #fff;
  background: #6b6b6b;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  height: 320px;
}

.md-content h3 {
  margin: 0;
  padding: 6px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.md-content > .closer {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding: 4px;
}

@media only screen and (max-width: 1040px) {
  #viewer{
    width: 50%;
    //margin-left: 25%;
  }

  #divider,
  #divider.show {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #viewer{
    width: 60%;
    //margin-left: 20%;
  }

  #prev {
    left: 20px;
  }

  #next {
    right: 20px;
  }
}

@media only screen and (max-width: 550px) {
  #viewer{
    width: 80%;
    //margin-left: 10%;
  }

  #main {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -ms-transition: -moz-transform .3s;
  }

  #main.closed {
    -webkit-transform: translate(260px, 0);
    -moz-transform: translate(260px, 0);
    -ms-transform: translate(260px, 0);
  }

  #titlebar {
    /* font-size: 16px; */
    /* margin: 0 50px 0 50px; */
  }

  #metainfo {
    font-size: 10px;
  }

  #tocView {
    width: 260px;
  }

  #tocView li {
    font-size: 12px;
  }

  #tocView > ul{
    padding-left: 10px;
  }
}


/* For iPad portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    #viewer iframe {
        width: 460px;
        height: 100%;
    }
}
 /*For iPad landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    #viewer iframe {
        width: 460px;
        height: 100%;
    }
}
/* For iPhone portrait layouts only */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #viewer {
      width: 256px;
      height: 100%;
    }
    #viewer iframe {
       width: 256px;
       height: 100%;
    }
}
/* For iPhone landscape layouts only */
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
    #viewer iframe {
        width: 256px;
        height: 100%;
    }
}



